@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-500: #06f906;
}

.glow {
  box-shadow: 0 0 5px var(--primary-500), 0 0 10px var(--primary-500), 0 0 15px var(--primary-500);
}

.safe-area {
  padding-top: var(--safe-area-inset-top, 0px);
  padding-bottom: var(--safe-area-inset-bottom, 0px);
  padding-left: var(--safe-area-inset-left, 0px);
  padding-right: var(--safe-area-inset-right, 0px);
}
